
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Fira Sans', sans-serif;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
html{
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
}


body{
    background-color: #3C3C3B!important;
    margin: 0px;
    padding: 0px;
}

.verde{
    color: #00A18F!important;
}

.beige{
    color:  #FFF8E1!important;
}

.gris{
    color:  #3C3C3B!important;
}

.left{
    text-align: left;
}
.right{
    text-align: right;
}
.center{
    text-align: center;
}


h2{
    font-size: 40px;
    font-weight: 300;
}

h3{
    font-size: 24px;
    font-weight: 200;
}


h4{
    font-size: 20px!important;
    font-weight: 200!important;

}

h5{
    font-size: 20px;
    font-weight: 100;
  
}

h6{
    font-size: 16px;
    font-weight: 200;
}


.buttons{
    color:#FFF8E1;
    min-width: 180px;
    height: 36px;
    border-radius: 8px;
    line-height: 36px;
    text-decoration: none;
    font-size: 20px;
    transition: 300ms ease-in-out;
}

.button__green{
    background-color:#00A18F;
    box-shadow: 0px 4px 4px #4E3E78;
}

.button__violeta{
    background-color:#4E3E78;
    box-shadow: 0px 4px 4px #00A18F;
}

.button__green:hover{
    scale: 115%;
    box-shadow: 0px 10px 10px #3C3C3B;
    transition: 300ms ease-in-out;
    background-color: #4E3E78;
}

.button__violetahover{
    scale: 115%;
    box-shadow: 0px 10px 10px #3C3C3B;
    transition: 300ms ease-in-out;
    background-color: #4E3E78;
}

.centrar{
    display: inline;
    align-content: center;
    margin: 0 auto;
}
.sec{
    margin: 0 auto;
    width: auto;
    max-width: 1600px;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

.flex{
    display: flex;
    gap: 40px;
}

i{
    transition: 300ms ease-in-out;
}

i:hover{
    transition: 300ms ease-in-out;
    color: #4E3E78;
}

/*--header--*/
.pershead{
    background-color: rgba(255,255,255,0.8);
    padding: 20px 30px 20px 30px;
    height: auto;
    position: fixed;
    width:100%;
    z-index: 999;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
}

.logo{
    max-width: 100px;
}
#navbarNav{
    justify-content: end;
}

nav{
    width: 100%;
    height: auto;
}

.underline:hover, .active{
    text-decoration: 3px underline;
    text-underline-offset: 8px;
    font-weight: 800;
}
.linea{
border-bottom: 2px solid #00A18F;
padding-bottom: 8px;
}
.hamb{
    font-size: 30px;
}


#cabezera{
    height: 30vh;
    background-image: url(assets/tangente_estudio_diseño_design_banckground_mis1.jpg);
    background-position: bottom;
    background-size: cover;
    box-shadow: 0px 10px 20px #4E3E78;
    margin-bottom: 100px;
}

.navbar{
    max-width: 1600px;

}
/*--footer--*/
footer{
    background-color: #00A18F;
    align-items: center;
    padding: 16px 16px 16px 16px;
    box-shadow: 0px -10px 10px #4E3E78;
}
footer div{
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
}

footer div img{
    width: 45px;
}

.social{
    gap: 4px;
    margin-right: 16px;
}

.social a{
    text-decoration: none;
}

.social a:hover i{
    box-shadow: 0px 6px 6px #3C3C3B;
}
/*--fin-footer--*/



/*--fin-header--*/

#inicio{
    height:calc(100vh);
    background: url(assets/Frame\ 4.png);
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 100px;
    background-position: center;
    z-index: 9;
    box-shadow: 0px 10px 20px #4E3E78;
}

#inicio h3{
    width: 90%;
    margin-bottom: 16px;
}

/*--ultimos-trabajos-*/


.portfolio_grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 300px);
    gap: 8px;
    margin-top: 24px;
}

.newjob{

    border-radius: 8px;
    transition: 100ms ease-in-out;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.newjob:hover{
transition: 400ms ease-in-out;
transform: scale(105%);

}

.portfolio__text{
    width: 100%;
    background-color: #fff8e1dc;
    position: absolute;
    bottom: 0;
    line-height: 50px;
    opacity: 0;
    transition: 100ms ease-in-out;

}

.newjob:hover .portfolio__text{
    display:block;
    opacity: 1;
    transition: 400ms ease-in-out;
}

.newjobs12, .newjobs11, .newjobs10, .newjobs9, .newjobs8, .newjobs7, .newjobs6, .newjobs5, .newjobs4, .newjobs3, .newjobs2, .newjobs1{
    background-image: url(assets/facebook_post_tangente_comida_l.jpg);

}

/*--fin_portfolio-*/


/*--iconos-*/
.icon{
    font-size: 16px;
    text-align: center;
    line-height: 32px;
    width: 32px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px #3C3C3B;
    margin-left: 4px;
}

.icon:hover{
    transform: scale(1.2);
}


.icon__verde{
    background-color:#00A18F;
    color: #FFF8E1;
}

.icon__beige{
    background-color:#FFF8E1;
    color:#00A18F;
}

.icon__beige-v{
    background-color:#FFF8E1;
    color:#4E3E78;
}


.icon_field h6{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*--iconos-*/

.casillas{
    width: 100%;
    background-color: #818180;
    border-radius: 4px;
    border: solid #00A18F;
    border-width: 0px 2px 2px 0px;
    color: #FFF8E1;
    margin-bottom: 20px;
    min-height: 48px;
    padding-left: 10px;
}

textarea.casillas{
    min-height: 200px;
    padding-top: 18px;
}

.casillas::placeholder{
    font-size: 16px;
    color: #FFF8E1;
    font-style: italic;
}

form{
    display: block;
    height: auto;
    margin-bottom: 80px;
    width: calc(100% - 12px);
}

.enviar{
    float: right;
    margin: 0px;
}

.c2{
    width: calc (100%-32px);
    height: auto;
    margin-bottom: 40px;
}

#final{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-end;
    height: 100%;
    overflow: scroll;
    gap: 16px;
    padding-right: 10px;
}

.cierre article{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.up{
    font-size: 32px!important;
    display: inline-block;
    position: fixed;
    right: 24px;
    bottom: 80px;
    z-index: 8;
    font-size: 30px;
    transition: 300ms;
}

.up:hover{
    transform: scale(125%);
    transition: 300ms;
}

.up:hover a i{
    color: #00A18F!important;
}

.cierre{
    max-width: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    padding-bottom:160px ;
}

.cierre__fondo{
    background: url(assets/tangente_estudio_diseño_design.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 100%;
}

/*--card--*/
.card{
    border-radius: 16px!important;
    width: 100%!important;
    max-width: 346px;
    height: auto;
    display: grid!important;
    grid-template-columns: 66px 180px;
    grid-template-rows: 0.4fr 1fr 0.1fr;
    grid-template-areas: 
    "logoCliente empresa"
    "comentario comentario"
    "none nombre";
    padding: 16px;
    background-color: #00A18F;
    margin-bottom: 40px;
    box-shadow: 10px 10px 0px #00A18F;
    background-color: #818180!important;
}


.card h4{
    grid-area: empresa!important;
    height: auto;
    color: #FFF8E1;
    align-self: center;
    margin-left: 16px;

}

.card h5{
    grid-area: nombre;
    height: auto;
    text-align: right;
    color: #FFF8E1;
    padding-right: 10px;
    padding-top: 10px;
}

.card h6{
    grid-area: comentario;
    padding: 0px;
    margin: 0px;
    height: auto;
    font-style: italic;
}

.card img{
    grid-area: logoCliente;
    background-color:#FFF8E1;
    border-radius: 50%;
    width: 66px;
    height: 66px;
    margin-right: 16px;
    margin-bottom: 8px;
}
/*--fin_card--*/

/*--quienesomos--*/
#quienesomos{
    margin-bottom: 80px;
    width: 90%;
}

#quienesomos h2{
    margin-bottom: 60px;
}
#quienesomos div img{
    box-shadow: -16px 16px 0px #00A18F;
    width: 60%;
    max-width: 500px;
    height:max-content;
    padding: 0px;
    margin-left: 32px;
    margin-top: 16px;
    float: right;
}

#textoquienes{
    margin-right: 32px;
}

.trio{
    padding-bottom: 80px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.perfil{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
   
}   

.perfil h4{
    margin-top: 10px;
    margin-bottom: 10px;
}

.perfil h6{
    margin-top: 10px;
    margin-bottom: 10px;
}

.perfil img{
    width: 100%;
    height:auto;
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 10px;
    border-radius: 100%;
    display: inline-block;
}

/*--fin quienesomos--*/

/*--servicios--*/
#cuadro div{
    background-color: #4E3E78;
    border-radius: 24px;
    padding: 20px;
}

#otros{
display: flex;
flex-flow: row;
flex-wrap: wrap;
justify-content: space-between;
}

.icon-serv{
    width: 30%;
}

#cuadro div h3{
    margin-bottom: 18px;
    padding-left: 20px;
}

/*--fin-servicios--*/

/*--contacto--*/
#ruleta{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    gap:30px;
    max-width: 1600px;
    overflow: scroll;
    margin-bottom: 160px;
    margin-top: -160px;
}
.corto{
    width: 60%;
    margin: 0 auto;
}

#contacto{
    display: flex;
    width: 50%;
    max-height: 280px;
    padding: 30px;
    margin-left: 60px;
    background-image: url(assets/Frame\ 3.png);
    background-size: cover;
    background-position: center;
}
/*--fin-contacto--*/

/*--portfolio--*/
.portfolio{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.portfolio img{
    width: calc(25% - 20px);
    height: auto;
    margin: 10px;
}
.filtros{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-basis: content;
    margin-top: 160px;
}
.marcadores{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    align-content: center;
    text-decoration: none;
}
.titulo_port{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #4E3E78;
    width: fit-content;
    padding: 10px 20px 10px 20px;
    border-radius: 16px;
}
.titulo_port h3{
    margin: 0px;
    margin-left: 20px;
}
.port_space{
    padding-top: 160px;
}

/*--fin portfolio--*/

@media screen and (min-width:480px) {
    .portfolio_grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 300px);
    }
    .cierre__fondo{
        background-size: 75%;
    }
}


@media screen and (min-width:720px) {

    .portfolio_grid{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 300px);
    }

    .c2{
        width: calc(50% - 32px);
    }

    .cierre article{
        flex-direction: row;
        gap: 16px;
    }
    
    #final{
        flex-direction: column;
        height: 500px;
    }
    .cierre__fondo{
        background-size: 50%;
    }
}
